@model MeuMedShare.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
}
<h2>Login</h2>
<form asp-action="Login" method="post">
    <input type="hidden" asp-for="ReturnUrl" />
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <input asp-for="RememberMe" /> <label asp-for="RememberMe">Lembrar-me</label>
    </div>
    <button type="submit">Entrar</button>
</form>
<a asp-action="Register">Criar conta</a>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}